/*************         main            *************/
* {
    user-select: none;
    outline: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    overflow: hidden;
    background: #111;
    font-family: "Montserrat", sans-serif;
    background: #272727;
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    color: white;
    background: #111;
    border: 1px solid #07bbd338;
    cursor: pointer;
}
/*************         main            *************/

/*************       framebar              *************/
.logo {
    margin-left: 10px;
    color: cyan;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px;
    text-shadow: 3px 2px red;
}

.frame-bar {
    background: #808080;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-app-region: drag;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 30px;
}

.frame-bar-links {
    font-family: "Segoe MDL2 Assets", sans-serif;
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 30px;
}

.frame-bar-links p {
    padding-top: 5px;
}

/* Styling for the navbar links*/
.frame-bar-links li {
    padding: 6px;
    -webkit-app-region: no-drag;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-size: 10px;
    list-style: none;
    text-align: center;
    width: 100px;
}

.min:hover,
.max:hover {
    background-color: #ffffff2c;
}

.quit:hover {
    background-color: #ffffff2c;
    color: red;
}

/*************       framebar              *************/

/*************       sidebar             *************/
.sidenav {
    display: flex;
    justify-content: space-between;

    flex-direction: column;
}

.sidenav {
    margin-top: 30px;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a.active {
    background-color: #8d359e;
    color: white;
}
.sidenav li {
    pointer-events: none;
}

.sidenav a:hover {
    color: #f1f1f1;
}

#main {
    height: 100vh;
    margin-top: 30px;
    margin-left: 160px;
    padding: 0px 10px;
}

/*************       sidebar              *************/

/*************          webkit styles           *************/

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #5c505e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #111;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #615f5e;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*************          webkit styles           *************/

/*************          wrapper home          *************/
.wrapper-home {
    color: #686868;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: repeat(1000, 300px);
}
.wrapper-home .todos,
.completed {
    background: #00000080;
    margin: 5px;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 10px;
    overflow-y: auto;
}

.wrapper-home h4 {
    text-align: center;
}
.wrapper-home li {
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 1px;
    padding: 3px;
}

/*************          wrapper home          *************/

/*************          wrapper todos          *************/

.wrapper-todos li.active-li {
    border-color: #07bbd3;
    color: white;
    background: #8d359e44;
}

.wrapper-todos {
    color: #686868;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.wrapper-todos .box-1,
.box-2 {
    background: #00000080;
    margin: 2px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 40px;
}

.wrapper-todos input {
    padding: 5px;
    width: 85%;
    color: white;
    background: none;
    border: none;
    border-radius: 5px;
    font-size: 14pt;
}

.add-btn {
    width: 10%;
}

.savebtn {
    width: 20%;
}

.wrapper-todos button {
    color: white;
    background: #111;
    border: 1px solid #07bbd338;
}

.wrapper-todos button:hover {
    color: white;
    background: #686868;
    border: 1px solid #07bbd3;
}

.wrapper-todos li {
    margin: 5px;
    border-bottom: 1px solid #07bbd338;
    padding: 10px;
}
.wrapper-todos li:hover {
    color: #ffffff;
    border-color: #07bbd3;
}

.wrapper-todos textarea {
    font-family: "Montserrat", sans-serif;
    background: none;
    color: white;
    font-size: 14pt;
    resize: none;
    width: 99%;
    height: 95%;
    border: 1px solid #07bbd338;
}

.text {
    pointer-events: none;
    color: white;
    background: #111;
    height: 20px;
    width: 20%;
    border: 1px solid #07bbd3;
}

.wrapper-todos .box-2 span {
    display: none;
    margin-left: 10px;
    color: white;
}

.wrapper-todos .box-1 li {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.box-1 span {
    pointer-events: none;
}
/*************          wrapper todos          *************/

/*************          wrapper options          *************/
.wrapper-options {
    color: #686868;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.box-options {
    grid-row: 1/4;
    margin: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 40px;
    background: #00000080;
}
.box-options1 {
    margin: 5px;
    margin-top: 10px;
    border-radius: 5px;
    background: #00000080;
}

.box-options2 {
    margin: 5px;
    margin-bottom: 40px;
    margin-top: 10px;
    border-radius: 5px;
    grid-row: 2/4;
    background: #00000080;
}
.box-options1 section {
    padding: 10px;
    color: white;
}

.wrapper-options input {
    margin-left: 10px;
    color: white;
    background: #111;
    height: 20px;
    width: 10%;
    border: 1px solid #07bbd338;
}

.wrapper-options input:focus {
    border: 1px solid #07bbd3;
}

.wrapper-options button {
    padding: 5px;
    margin: 10px;
}

.wrapper-options button:hover {
    color: white;
    background: #686868;
    border: 1px solid #07bbd3;
}

/*************          wrapper options          *************/

.draggable-div {
    height: 100px;
    width: 200px;
    position: absolute;
    background-color: cyan;
}
