* {
    user-select: none;
    outline: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    overflow: hidden;

    background: #111;
    font-family: "Montserrat", sans-serif;
    background-image: url("wallhaven-p2w1mj.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    margin-left: 10px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px;
}

.frame-bar {
    background: rgb(128, 128, 128);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-app-region: drag;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 30px;
}

.frame-bar-links {
    font-family: "Segoe MDL2 Assets", sans-serif;
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 30px;
}

.frame-bar-links p {
    padding-top: 5px;
}

/* Styling for the navbar links*/
.frame-bar-links li {
    padding: 6px;
    -webkit-app-region: no-drag;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-size: 10px;
    list-style: none;
    text-align: center;
    width: 100px;
}

.min:hover,
.max:hover {
    background-color: #ffffff2c;
}

.quit:hover {
    background-color: #ffffff2c;
    color: red;
}

.sidenav {
    display: flex;
    justify-content: space-between;

    flex-direction: column;
}

.sidenav {
    margin-top: 30px;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a.active {
    background-color: #8d359e;
    color: white;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
#main {
    height: 100vh;
    margin-top: 30px;
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #5c505e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #111;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #615f5e;
}

.wrapper-home {
    overflow-y: auto;
}

.wrapper-todos li.active-li {
    border-color: #00e1ff;
    color: white;
    background: #8d359e44;
}

.wrapper-todos {
    color: #686868;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10px;
}

.wrapper-todos div {
    background: #00000080;
    margin: 5px;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 10px;
    overflow-y: auto;
}

.wrapper-todos h4 {
    text-align: center;
}

.wrapper-todos li {
    margin: 5px;
    border-bottom: 1px solid #07bbd3;
    padding: 10px;
}
.wrapper-todos li:hover {
    color: #ffffff;
}
.wrapper-todos input {
    color: white;
    background: #111;
    height: 20px;
    width: 70%;

    border: 1px solid #07bbd3;
}
.input-btn {
    color: white;
    background: #111;
    height: 20px;
    width: 20%;
    margin-left: 6%;
    border: 1px solid #07bbd3;
}

.wrapper-todos button:hover {
    color: white;
    background: #686868;
    border: 1px solid #07bbd3;
}

.wrapper-todos textarea {
    background: none;
    color: white;
    font-size: 25px;
    resize: none;
    width: 99%;
    height: 95%;
    border: 1px solid #07bbd3;
}

.text {
    color: white;
    background: #111;
    height: 20px;
    width: 20%;
    border: 1px solid #07bbd3;
}

.box-2 span {
    display: none;
    margin-left: 10px;
    color: white;
}
